@use 'variables' as v;

@mixin card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem;
  background-color: white;
}

@mixin btn-primary {
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  &:hover {
    background-color: red;
  }
}
